.homeBody {
  width: 80%;
  margin: 5% auto;
}

.homeHeader {
  color: var(--color-primary-500);
}

.logoContainer {
  justify-content: center;
  display: flex;
  margin-bottom: 7%;
}

@media (min-width: 1000px) {
  .logo {
    height: 8rem;
  }
}

@media (max-width: 1000px) {
  .homeBody {
    margin: 10% auto;
  }
  .logoContainer {
    margin-bottom: 12%;
  }
  .logo {
    height: 4rem;
  }
}
