.servicesBody {
  width: 80%;
  margin: 5% auto;
}

.servicesHeader {
  color: var(--color-primary-500);
}

.servicesUL {
  all: unset;
  color: var(--color-primary-900);
  margin: 2rem 0;
}

.servicesULHeader {
  margin: 2rem 0 1rem 0;
  font-size: 16px;
}

.servicesUL li {
  color: var(--color-gray-300);

  font-size: 9px;

  margin-left: 1rem;
}

.servicesUL li span {
  color: var(--color-gray-700);
  font-size: 13px;
  letter-spacing: 1px;
  margin-left: 0.4rem;
}
