.icon1 {
  width: 9rem;
}
.icon2 {
  width: 7rem;
}
.icon3 {
  width: 14rem;
}
.icon4 {
  width: 9rem;
}

.span1 {
  font-weight: 700;
  font-size: 1rem;
  color: var(--color-quarciary-1000);
}

.iconSection {
  width: 50%;
  margin: 3rem auto 7rem auto;
}

.pillarContainer {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  margin-bottom: 2rem;
}
.pillarLine {
  background-color: var(--color-primary-300);
  height: 1px;
  width: 10%;
  display: flex;
  margin: 0 1rem;
}

.header {
  font-family: var(--font-primary);
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  padding: 0 1rem;
  color: var(--color-quarciary-1000);
}

.iconContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.iconSection p {
  font-size: 1rem;
  letter-spacing: 1.25px;
  line-height: 2rem;
  text-align: center;
}

@media (max-width: 1000px) {
  .header {
    font-size: 1.6rem;
  }
  .icon1 {
    width: 7rem;
  }
  .icon2 {
    width: 4.5rem;
  }
  .icon3 {
    width: 10rem;
  }
  .icon4 {
    width: 7rem;
  }
  .iconSection p {
    font-size: 0.85rem;
  }
}

@media (max-width: 700px) {
  .header {
    font-size: 1.6rem;
  }
  .icon1 {
    width: 7rem;
  }
  .icon2 {
    width: 4.5rem;
  }
  .icon3 {
    width: 10rem;
  }
  .icon4 {
    width: 5rem;
  }
  .iconSection {
    width: 70%;
    margin: 1.4rem auto 4rem auto;
  }
  .contentBody {
    margin: 5rem 0;
  }
}
