/* Dropdown.css */
.dropdown-container {
  margin: 1em 0;
  font-family: var(--font-family-primary);
}

.dropdown-label {
  margin-right: 0.5em;
  font-weight: bold;
  letter-spacing: 1px;

  font-family: var(--font-family-primary);
}

.dropdown-select {
  letter-spacing: 1px;

  padding: 0.5em;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-family: var(--font-family-primary);
}

@media (max-width: 500px) {
  .dropdown-container {
    font-size: 0.8rem;
  }
  .dropdown-select {
    padding: 0.3rem;
    margin-top: 0.5rem;
  }
}
